@tailwind base;
@tailwind components;
@tailwind utilities;

.splide {
  @apply lg:h-full;
  .splide__track {
    @apply lg:h-full;
  }
  .splide__slide img {
    @apply w-full h-full object-cover;
  }
}

.swiper {
  @apply lg:h-full;
  .swiper-wrapper {
    @apply lg:h-full;
  }
  .swiper-slide img {
    @apply w-full h-full object-cover;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
